body{
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    height: 400px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
.letra{
    width: 15px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    border-style:groove;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    display: none;
}
.letraJ{
    width: 15px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    border-style:groove;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}
.dvdisplay{
    
    display: block;
}
#dvForca{
    
    position: absolute;
    
}
#cabeca{
    position: absolute;
    top: 0px;
    left:0px;
}
#corpo{
    position: absolute;
    top: 0px;
    left:0px;
}
#bracoE{
    position: absolute;
    top: 0px;
    left:0px;
}
#bracoD{
    position: absolute;
    top: 0px;
    left:0px;
}
#pernaE{
    position: absolute;
    top: 0px;
    left:0px;
}
#pernaD{
    position: absolute;
    top: 0px;
    left:0px;
}
#fim{
    position: absolute;
    top: 0px;
    left:0px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}